
/PinnacleMedicoLegalBackend/bin

.fake
/PinnacleMedicoLegalBackend/obj
/PinnacleMedicoLegalBackend/obj
/PinnacleMedicoLegalBackend/obj
PinnacleMedicoLegalBackend/obj/Debug/net8.0/PinnacleMedicoLegalBackend.GeneratedMSBuildEditorConfig.editorconfig
PinnacleMedicoLegalBackend/obj/Debug/net8.0/PinnacleMedicoLegalBackend.AssemblyInfoInputs.cache
PinnacleMedicoLegalBackend/obj/Debug/net8.0/PinnacleMedicoLegalBackend.AssemblyInfo.cs
PinnacleMedicoLegalBackend/obj/Debug/net8.0/apphost.exe
/PinnacleMedicoLegalBackend/obj
/PinnacleMedicoLegalBackend/obj
/PinnacleMedicoLegalBackend/obj
PinnacleMedicoLegalBackend/Properties/launchSettings.json
